<div class="jumbtron">
    <h1 class="display-4 text-center">Credit Cards</h1>
    <hr>
    <div calss="row">
        <div class="col-md-5">
            <h6 class="text-center5">
                ADD CARDS
            </h6>   
            <app-creditcard></app-creditcard> 
         </div>
    </div>
    <hr>
    <h1 class="display-4 text-center">List Cards</h1>
    <hr>
    <div calss="row">
        <div class="col-md-7">
            <h6 class="text-center5">
                LIST CARDS
            </h6> 
            <app-list-creditcard></app-list-creditcard>
        </div>
    </div>
</div>
