
<table class ="table" style="width:100px">
    <tr *ngFor="let card of scardService.list">
      <ng-container matColumnDef="position">
        <td>{{card.headline}}</td>
      </ng-container>
        <td>{{card.cardNumber}}</td>
        <td>{{card.expirationDay}}</td>
        <td>{{card.cw}}</td>
        <td>{{card.createDate | date:'dd-MM-yyyy' }}</td>
        <td>{{card.id }}</td>
        <td>
            <i class="far fa-edit fa-lg text-info" (click)="updateCard(card)" style="cursor: pointer;"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="deleteCard(card.id)" style="cursor: pointer;"></i>
        </td>
    </tr>
</table>

